body{
background-color: #E0EAFC;
}
pre {
  display: block;
  font-family: "Lucid Console", "Courier New";
  font-size: 12px;
  white-space: pre;
  margin: 1px 0;
  text-align: left;
}
.card{
    width: 600px;
    margin: auto;
}


