body{
background-color: #E0EAFC;
}
pre {
  display: block;
  font-family: "Lucid Console", "Courier New";
  font-size: 11px;
  white-space: pre;
  margin: 0.1em 0;
}
.card{
    width: 700px;
    margin:auto;
}
