{% extends "base.html" %}

{% block content %}
<hr>
<form method="POST" class="container-fluid text-center">
    <div class="card text-center">
        <div id="printableArea" class="card-body">
                <pre>
                    {{ text }}
                </pre>
        </div>
    </div>
    <a class='btn btn-outline-secondary btn-lg' href="{{ url_for('search') }}" onclick="printPageArea('printableArea')">Принтиране</a>
</form>
<script>
    function printPageArea(areaID){
    var printContent = document.getElementById(areaID).innerHTML;
    var originalContent = document.body.innerHTML;
    document.body.innerHTML = printContent;
    window.print();
    document.body.innerHTML = originalContent;
    }


</script>

{% endblock %}