{% extends "base.html" %}

{% block content %}
<hr>
<div class="container-fluid text-center">
    <h2>Търсене</h2>
</div>
<hr>
<form method="POST" class="container-fluid justify-content-start text-center">
    {{ form.hidden_tag() }}
    <br>

    <b>{{ form.egn.label }}</b>
    {{ form.egn(size=10) }}<br>
    {% for error in form.egn.errors %}
    <span style="color:red">{{ error }}</span>
    {% endfor %}<br><br><br>

    <div class="container">
        <input class="btn btn-outline-primary btn-lg" type="submit" value="Търси">
        <input class="btn btn-outline-secondary btn-lg" type="reset" value="Изчистване">
    </div>
</form>
{% endblock %}

